@import "foundation_and_overrides";
@import "react-select";
$tangerine: #e37222;
$teal: #07889b;
$powder: #66b9bf;
$tan: #eeaa7b;
$black: #0a0a0a;
$light-gray: #e8e8e8;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$white: #fefefe;

.form {
  width: 414px;
}

.checkbox {
  width: 133px;
}

.header {
  font-size: 24px;
  font-weight: bold;
  margin-left: 15px;
}

.top-bar {
  margin-bottom: 10px;
}

.top-bar h1 {
  color: $white;
  margin-bottom: 0;
}

.accordion-title {
  font-size: 1.75rem;
  font-family: 'Love Ya Like A Sister', cursive;
  color: $black;
}

.acc-content {
  border: 1px solid $medium-gray;
  padding: 1rem;
}

.off-canvas-wrapper-inner, .off-canvas{
  min-height: 100vh;
}

.accordion-title::before,
.accordion-title::after {
  margin-top: -0.8rem;
}
