@import "foundation_and_overrides";
@import "react-select";

$tangerine: #e37222;
$teal: #07889b;
$powder: #66b9bf;
$tan: #eeaa7b;
$black: #0a0a0a;
$light-gray: #e8e8e8;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$white: #fefefe;
$select-dark-gray: #aaaaaa;
$select-light-gray: #cccccc;

h1,
h4 {
  margin-top: 0.5rem;
}

.form {
  width: 414px;
}

.checkbox {
  width: 133px;
}

.header {
  font-size: 24px;
  font-weight: bold;
  margin-left: 15px;
}

.top-bar {
  margin-bottom: 10px;
}

.top-bar h1 {
  color: $white;
  margin-bottom: 0;
}

.accordion {
  border-radius: 10px;
  margin-left: 0.5rem;
}

.accordion-title {
  background-color: $teal;
  color: $white;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 1.75rem;
}

.acc-item:first-child .accordion-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.acc-item:last-child .accordion-title {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.acc-item.is-active:last-child .accordion-title {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.acc-item.is-active:last-child .acc-content {
  border-bottom: 1px solid $medium-gray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.accordion-title:hover,
.accordion-title:focus,
.is-active .accordion-title {
  background-color: $powder;
  color: $white;
}

.acc-content {
  border-color: $medium-gray;
  border-style: solid;
  border-width: 0 1px;
  padding: 1rem;
}

.off-canvas-wrapper-inner, .off-canvas{
  min-height: 100vh;
}

.accordion-title::before,
.accordion-title::after {
  margin-top: -0.8rem;
}

.callout.primary {
  background-color: $teal;
  border-radius: 10px;
  color: $white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.Select-placeholder {
  padding-top: 9px;
}

.button {
  border-radius: 10px;
  margin-top: 0.5rem;
}

.content.row {
  max-width: 130rem;
}

.off-canvas-content {
  margin-left: 10px;
  margin-right: 10px;
}

.select-list h4,
.select-list h3 {
  color: $tangerine;
  margin-left: 22px;
  margin-top: 0;
}

.select-list:last-child h4 {
  margin-top:10px;
}

#indoor {
  border: 1px solid $select-light-gray;
  border-radius: 10px;
  color: $select-dark-gray;
  height: 52px;
  margin-left: 10px;
  padding-left: 10px;
  width: 97%;
}
